Source: ros-melodic-realsense2-framos-camera
Section: misc
Priority: optional
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, libyaml-cpp-dev, ros-melodic-catkin, ros-melodic-cv-bridge, ros-melodic-ddynamic-reconfigure, ros-melodic-diagnostic-updater, ros-melodic-genmsg, ros-melodic-image-transport, ros-melodic-librealsense2-framos, ros-melodic-message-runtime, ros-melodic-nav-msgs, ros-melodic-nodelet, ros-melodic-roscpp, ros-melodic-rospack, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-tf
Homepage: http://www.ros.org/wiki/RealSense
Standards-Version: 3.9.2

Package: ros-melodic-realsense2-framos-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libyaml-cpp-dev, ros-melodic-cv-bridge, ros-melodic-ddynamic-reconfigure, ros-melodic-diagnostic-updater, ros-melodic-genmsg, ros-melodic-image-transport, ros-melodic-librealsense2-framos, ros-melodic-message-runtime, ros-melodic-nav-msgs, ros-melodic-nodelet, ros-melodic-roscpp, ros-melodic-rospack, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-tf
Description: RealSense Camera package allowing access to Intel T265 Tracking module and SR300 and D400 3D cameras
